* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #fff;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Fira Code", monospace, Open Sans, sans-serif;
  text-align: center;
}

nav {
  position: fixed;
  min-height: 8vh;
  top: 0;
  padding: 1.5rem 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
nav a {
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-transparent {
  background-color: rgba(18, 18, 20, 0);
}
.nav-transparent .burger div {
  background-color: #fff;
}

.nav-colored {
  background-color: white;
}
.nav-colored a {
  color: #121214;
}
.nav-colored .projects-link {
  color: #fff;
}
.nav-colored .burger div {
  background-color: #121214;
}

.main-link {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.nav-links {
  display: flex;
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
  margin-left: 0.75rem;
}
.nav-links .projects-link {
  padding: 0.75rem 1.5rem;
  border: 1px solid #7d46ff;
  border-radius: 2.5rem;
  background-color: #7d46ff;
  color: white;
  transition: 0.3s background;
}
.nav-links .projects-link:hover {
  border-color: #5d33be;
  background-color: #5d33be;
  color: white;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  border-radius: 3px;
  margin: 5px;
  transition: all 0.3s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.header {
  padding: 2rem;
  background-color: #121214;
  height: 100vh;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
}

header {
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, calc(-50% - 1.5rem));
}
header h1 {
  font-size: 2.25rem;
  letter-spacing: 0.25rem;
  font-weight: 400;
  line-height: 2.5rem;
  overflow: hidden;
}
header h1 #typewriter {
  color: #fff;
}
header span {
  color: #7d46ff;
}
header small {
  animation: fade-in-slide 0.7s 3.7s 1 normal both;
  letter-spacing: 0.0675rem;
  display: inline-block;
  margin-top: 0.5rem;
}
header small a {
  text-decoration: none;
}
header small span {
  font-style: italic;
}

.blinking-cursor {
  animation: 1s blink infinite;
}

section {
  margin-top: 0;
  height: 100vh;
  background: #fff;
}

@media screen and (max-width: 1120px) {
  .nav-transparent {
    background: #121214;
  }
}
@media screen and (max-width: 768px) {
  nav {
    padding: 1rem 1rem 1rem 2rem;
  }

  .nav-transparent .nav-links {
    background: #121214;
  }
  .nav-transparent .nav-links a {
    border-radius: 3rem;
  }
  .nav-transparent .nav-links a:hover {
    background: #fff;
    color: #121214;
    transition: 0.3s linear;
  }
  .nav-transparent .nav-links .projects-link {
    color: #fff;
  }

  .nav-colored .nav-links {
    background: #fff;
  }
  .nav-colored .nav-links a {
    border-radius: 3rem;
  }
  .nav-colored .nav-links a:hover {
    background: #121214;
    color: #fff;
    transition: 0.3s linear;
  }

  .nav-links {
    position: absolute;
    right: 0;
    top: 8vh;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    width: 100%;
  }
  .nav-links li {
    margin: 0.5rem;
    opacity: 0;
  }
  .nav-links li a {
    display: block;
    padding: 1rem 2rem;
  }
  .nav-links .projects-link {
    padding: 1rem 2rem;
    background-color: #fff;
    color: #121214;
    border: none;
    background-color: transparent;
  }

  .burger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #7d46ff;
  }
}
@keyframes fade-in-slide {
  from {
    opacity: 0;
    transform: translateX(3rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/*# sourceMappingURL=style.css.map */
